extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	include blocks/first-screen
	include blocks/services
	include blocks/cases
	include blocks/video
	include blocks/event
	include blocks/reviews
	include blocks/news
