header.header
	.header__group
		.header__burger
			div
		svg
			use(xlink:href='./assets/images/svg/sprite.svg#logo')
	.header__group
		ul.header__menu
			li
				a(href='./index.html')
					span Home
			li
				a()
					span Pages
					svg
						use(xlink:href='./assets/images/svg/sprite.svg#arrow')
				
				ul.header__sub-menu
					li
						a(href="./about-me.html")
							span About Me
					li
						a(href="./about-us.html")
							span About Us
					li
						a(href="./events.html")
							span Events
					li
						a(href="./event-detail.html")
							span World famous exhibition
					li
						a(href="./gallery.html")
							span Gallery
					li
						a(href="./login.html")
							span Log In
					li
						a(href="./portfolio-single.html")
							span Portfolio Single
					li
						a(href="./portfolio.html")
							span Portfolio
					li
						a(href="./post.html")
							span Mobile Photography
					li
						a(href="./services-page.html")
							span Services
					li
						a(href="./testimonials.html")
							span Testimonials
			li
				a(href='./blog.html')
					span Blog
			li
				a(href='./booking.html') Booking
		+button('contacts', 'header__btn')
