.cases
	.cases__bg
		img(src='./assets/images/cases/item-1.jpg' alt='')
	.container.cases__container
		.cases__slider
			.cases__slide
				.cases__wrapper
					.cases__pic
						img.next(src='https://via.placeholder.com/250x500' alt='')
						img.current(src='https://via.placeholder.com/580x700' alt='')
					.cases__content
						+tag('cases')
						.cases__title Autumn  individual photosession 2020
						.cases__text Pariatur voluptate occaecat nostrud est exercitation. <br> Culpa culpa laboris excepteur ad.
						.cases__info
							.cases__info-item
								svg
									use(xlink:href='./assets/images/svg/sprite.svg#marker')
								.cases__info-text
									p location
									p Green Garden Park
							.cases__info-item
								svg
									use(xlink:href='./assets/images/svg/sprite.svg#dress')
								.cases__info-text
									p look
									p Diamond You
							.cases__info-item
								svg
									use(xlink:href='./assets/images/svg/sprite.svg#make-up')
								.cases__info-text
									p make up
									p Lily Stoners
							.cases__info-item
								svg
									use(xlink:href='./assets/images/svg/sprite.svg#model')
								.cases__info-text
									p model
									p Milana Walker
						+button('view case', 'cases__btn')
			.cases__slide
				.cases__wrapper
					.cases__pic
						img.next(src='https://via.placeholder.com/250x500' alt='')
						img.current(src='https://via.placeholder.com/580x700' alt='')
					.cases__content
						+tag('cases')
						.cases__title Autumn  individual photosession 2020
						.cases__text Pariatur voluptate occaecat nostrud est exercitation. <br> Culpa culpa laboris excepteur ad.
						.cases__info
							.cases__info-item
								svg
									use(xlink:href='./assets/images/svg/sprite.svg#marker')
								.cases__info-text
									p location
									p Green Garden Park
							.cases__info-item
								svg
									use(xlink:href='./assets/images/svg/sprite.svg#dress')
								.cases__info-text
									p look
									p Diamond You
							.cases__info-item
								svg
									use(xlink:href='./assets/images/svg/sprite.svg#make-up')
								.cases__info-text
									p make up
									p Lily Stoners
							.cases__info-item
								svg
									use(xlink:href='./assets/images/svg/sprite.svg#model')
								.cases__info-text
									p model
									p Milana Walker
						+button('view case', 'cases__btn')
