.event
	img(src='./assets/images/circle-2.png' alt='')
	.container.event__container
		.event__wrapper
			.event__content
				+tag('party')
				.event__title upcoming event
				.event__text Pariatur voluptate occaecat nostrud est exercitation. Culpa culpa laboris excepteur ad. Duis officia ullamco sunt nisi velit culpa.
				.event__join-us Join us and have fun!
				.event__schedule
					.event__schedule-item
						p Date
						p December 13, 2020
					.event__schedule-item
						p Time
						p 7:30 PM
				+button('buy tickets', 'event__btn')
			.event__pic
				img(src='https://via.placeholder.com/570x758' alt='')
				img(src='https://via.placeholder.com/470x625' alt='')