.first-screen
	.first-screen__content-outer
		.first-screen__slider
			.first-screen__slide
				img(src='assets/images/bg-first.png' alt='')
				.first-screen__bg
					img(src='https://via.placeholder.com/1920x1440' alt='')
				.first-screen__content
					.first-screen__content-inner
						+tag('let it be amazing')
						.first-screen__title catch your life moment
						.first-screen__wrapper
							+play('', 'play-part', true, 'https://www.youtube.com/embed/tEPB7uzKuh4')(data-fancybox)
							.first-screen__text Pariatur voluptate occaecat nostrud est exercitation.
			.first-screen__slide
				img(src='assets/images/bg-first.png' alt='')
				.first-screen__bg
					img(src='https://via.placeholder.com/1920x1440' alt='')
				.first-screen__content
					.first-screen__content-inner
						+tag('let it be amazing')
						.first-screen__title catch your life moment 2
						.first-screen__wrapper
							+play('', 'play-part', true, 'https://www.youtube.com/embed/tEPB7uzKuh4')(data-fancybox)
							.first-screen__text Pariatur voluptate occaecat nostrud est exercitation.
			.first-screen__slide
				img(src='assets/images/bg-first.png' alt='')
				.first-screen__bg
					img(src='https://via.placeholder.com/1920x1440' alt='')
				.first-screen__content
					.first-screen__content-inner
						+tag('let it be amazing')
						.first-screen__title catch your life moment 3
						.first-screen__wrapper
							+play('', 'play-part', true, 'https://www.youtube.com/embed/tEPB7uzKuh4')(data-fancybox)
							.first-screen__text Pariatur voluptate occaecat nostrud est exercitation.
	.first-screen__nav
	.first-screen__socials
		a.first-screen__socials-item(href='#') Fb
		a.first-screen__socials-item(href='#') Tw
		a.first-screen__socials-item(href='#') In
	.first-screen__arrows
		.first-screen__arrow.first-screen__arrow--prev
			svg
				use(xlink:href='./assets/images/svg/sprite.svg#arrow-slide')
		.first-screen__arrow.first-screen__arrow--next
			svg
				use(xlink:href='./assets/images/svg/sprite.svg#arrow-slide')