.info
	.info__item
		svg
			use(xlink:href='./assets/images/svg/sprite.svg#contacts--phone')
		.info__item-wrapper
			p phone
			a(href='tel:+13547896452') +1 (354) 78 96 452
	.info__item
		svg
			use(xlink:href='./assets/images/svg/sprite.svg#contacts--mail')
		.info__item-wrapper
			p email
			a(href='mailto:Info@broms.com') Info@broms.com
	.info__item
		svg
			use(xlink:href='./assets/images/svg/sprite.svg#contacts--marker')
		.info__item-wrapper
			p Address
			p Postal Code V9W 2B1, Campbell River, Canada