.reviews
	.blue-circle
	.reviews__bg
		img(src='./assets/images/bg-reviews.jpg' alt='')
	.container.reviews__container
		.reviews__content
			+tag('party', 'reviews__tag')
			.reviews__title What people say about us
			.reviews__text Pariatur voluptate occaecat nostrud est exercitation. Culpa culpa laboris excepteur ad. Duis officia ullamco sunt nisi velit culpa
										|  excepteur amet. Incididunt sunt velit fugiat exercitation sit incididunt anim occaecat exercitation ut quis.
			.reviews__slider
				div
					.reviews__slide
						.reviews__slide-pic
							img(src='https://via.placeholder.com/100x100' alt='')
						p Johnny Quicker
				div
					.reviews__slide
						.reviews__slide-pic
							img(src='https://via.placeholder.com/100x100' alt='')
						p Johnny Quicker
				div
					.reviews__slide
						.reviews__slide-pic
							img(src='https://via.placeholder.com/100x100' alt='')
						p Johnny Quicker
				div
					.reviews__slide
						.reviews__slide-pic
							img(src='https://via.placeholder.com/100x100' alt='')
						p Johnny Quicker
				div
					.reviews__slide
						.reviews__slide-pic
							img(src='https://via.placeholder.com/100x100' alt='')
						p Johnny Quicker
				div
					.reviews__slide
						.reviews__slide-pic
							img(src='https://via.placeholder.com/100x100' alt='')
						p Johnny Quicker
				div
					.reviews__slide
						.reviews__slide-pic
							img(src='https://via.placeholder.com/100x100' alt='')
						p Johnny Quicker
				div
					.reviews__slide
						.reviews__slide-pic
							img(src='https://via.placeholder.com/100x100' alt='')
						p Johnny Quicker
				div
					.reviews__slide
						.reviews__slide-pic
							img(src='https://via.placeholder.com/100x100' alt='')
						p Johnny Quicker
				div
					.reviews__slide
						.reviews__slide-pic
							img(src='https://via.placeholder.com/100x100' alt='')
						p Johnny Quicker