.services
	.container.services__container
		.services__wrapper
			.services__content
				+tag('services')
				.services__title what we do
				.services__text Pariatur voluptate occaecat nostrud est exercitation. Culpa culpa laboris excepteur officia ullamco sunt nisi velit culpa.
				+button('all services', 'services__btn')
			.services__slider
				.services__slide
					.services__slide-pic
						img(src='https://via.placeholder.com/310x400' alt='')
					.services__price
						p.services__name Personal session
						p.services__price-num from <span>$150</span>
				.services__slide
					.services__slide-pic
						img(src='https://via.placeholder.com/310x400' alt='')
					.services__price
						p.services__name Wedding day
						p.services__price-num from <span>$150</span>
				.services__slide
					.services__slide-pic
						img(src='https://via.placeholder.com/310x400' alt='')
					.services__price
						p.services__name Commercial session
						p.services__price-num from <span>$150</span>
				.services__slide
					.services__slide-pic
						img(src='https://via.placeholder.com/310x400' alt='')
					.services__price
						p.services__name Love stories
						p.services__price-num from <span>$150</span>
				.services__slide
					.services__slide-pic
						img(src='https://via.placeholder.com/310x400' alt='')
					.services__price
						p.services__name Personal session
						p.services__price-num from <span>$150</span>
				.services__slide
					.services__slide-pic
						img(src='https://via.placeholder.com/310x400' alt='')
					.services__price
						p.services__name Wedding day
						p.services__price-num from <span>$150</span>
				.services__slide
					.services__slide-pic
						img(src='https://via.placeholder.com/310x400' alt='')
					.services__price
						p.services__name Commercial session
						p.services__price-num from <span>$150</span>
				.services__slide
					.services__slide-pic
						img(src='https://via.placeholder.com/310x400' alt='')
					.services__price
						p.services__name Love stories
						p.services__price-num from <span>$150</span>
