.blog {
  position: relative;
  overflow: hidden;

  > img {
    position: absolute;
    bottom: 1.8%;
    right: 7%;
    pointer-events: none;
  }

  .blue-circle {
    position: absolute;

    &--1 {
      top: -20%;
      left: -31%;
    }

    &--2 {
      bottom: -10%;
      right: 0;
    }
  }

  &__container {
    padding: 200px 0;

    @include mMax {
      padding: 40px 0;
    }
  }

  &__outer {
    display: flex;
    margin: 0 -30px;
  }

  &__main {
    margin: 0 30px;
  }

  &__main {
    width: calc(67.5% - 60px);

    @include tMax {
      width: 100%;
    }
  }

  &__pagination {
    margin-top: 62px;
  }
}

.blog-item {
  + .blog-item {
    margin-top: 60px;

    @include mMax {
      margin-top: 26px;
    }
  }

  &__pic {
    height: 400px;
    position: relative;

    @include mMax {
      width: 100%;
      height: auto;
    }

    p {
      position: absolute;
      top: 30px;
      left: 30px;
      border-radius: 100px;
      background-color: #030404;
      font-size: 14px;
      line-height: 24px;
      font-weight: 600;
      padding: 3px 20px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    padding: 25px 40px 50px;
    background-color: #0b0d0e;

    @include mMax {
      padding: 10px 20px 30px;
    }
  }

  &__publication {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 25px;
    margin-bottom: 44px;

    @include mMax {
      display: block;
    }

    li {
      font-size: 14px;
      line-height: 24px;
      font-weight: 600;
      color: #9ca7b8;
      opacity: 0.5;
      position: relative;

      &:not(:first-child) {
        margin-left: 45px;

        &::before {
          content: '';
          display: block;
          width: 5px;
          height: 2px;
          background-color: $white;
          opacity: 0.5;
          border-radius: 1px;
          position: absolute;
          top: 50%;
          left: -25px;
          transform: translateY(-50%);
          pointer-events: none;
        }

        @include mMax {
          margin-left: 26px;
          margin-top: 5px;
        }
      }
    }
  }

  &__title {
    font-family: $sora;
    font-size: 28px;
    line-height: 34px;
    text-transform: capitalize;
    margin-bottom: 20px;

    @include dBook {
      font-size: 24px;
      line-height: 33px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 31px;
    color: #9ca7b8;
    margin-bottom: 38px;

    @include dBook {
      font-size: 14px;
      line-height: 27px;
    }
  }

  &__more {
    display: block;
    width: 50px;
    height: 14px;

    @include dMin {
      &:hover svg {
        opacity: 1;
      }
    }

    svg {
      width: 100%;
      height: 100%;
      opacity: 0.5;
      transition: opacity 0.3s ease;
    }
  }

  &--light {
    .blog-item__content {
      background-color: #101215;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='144' height='156' viewBox='0 0 144 156' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M131.707 11.3066C123.378 2.97862 111.726 -0.964954 98.8937 0.200476C86.333 1.34214 74.1101 7.27623 64.4777 16.9089L19.6582 61.7285C18.1113 63.2754 18.1113 65.7839 19.6582 67.3311C21.2051 68.8776 23.7136 68.8776 25.2608 67.3311L70.08 22.5112C78.4047 14.1862 88.8923 9.06505 99.6109 8.09097C110.059 7.14095 119.468 10.2728 126.104 16.9092C132.74 23.545 135.872 32.9541 134.922 43.4021C133.948 54.1207 128.826 64.6084 120.502 72.933L109.2 84.2345C109.199 84.2354 109.198 84.2366 109.197 84.2373L55.9745 137.46C43.6179 149.816 25.397 151.701 15.3572 141.661C10.5916 136.896 8.34454 130.12 9.03008 122.582C9.74001 114.773 13.4791 107.124 19.5595 101.044L47.6212 72.9824C47.6215 72.9821 47.6221 72.9812 47.6227 72.9809L84.0868 36.5168C87.9219 32.6814 92.732 30.3237 97.6308 29.8786C102.258 29.4563 106.402 30.8207 109.297 33.7158C115.476 39.8942 114.219 51.2039 106.496 58.9269L61.6764 103.746C60.1295 105.293 60.1295 107.802 61.6764 109.349C62.45 110.122 63.4637 110.509 64.4777 110.509C65.4914 110.509 66.5057 110.122 67.279 109.349L112.099 64.5294C122.91 53.7173 124.167 37.3815 114.9 28.1135C110.312 23.5267 103.925 21.3504 96.9135 21.9887C90.1726 22.6014 83.6276 25.7714 78.4842 30.9148L42.018 67.3801L13.9563 95.4418C6.56851 102.83 2.01618 112.214 1.13929 121.865C0.237107 131.786 3.29708 140.806 9.75524 147.264C15.6226 153.131 23.5104 156 31.8201 156C42.1042 156 53.0343 151.605 61.5777 143.063L98.0902 106.55C98.0905 106.549 98.0911 106.549 98.0915 106.548L126.104 78.5353C135.737 68.9026 141.671 56.6798 142.813 44.119C143.979 31.2883 140.035 19.6353 131.707 11.3066Z' fill='%230A0C0F'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-size: 156px 156px;
      background-position: calc(100% - 11px) calc(100% - 57px);
    }
  }
}
