.blue-circle.filter {
  position: absolute;
  background: #0649ca;
  opacity: 0.05;
  filter: blur(250px);
  will-change: auto;
}

.testimonials {
  position: relative;
  box-sizing: border-box;
  padding: 200px 0 100px;

  @include mMax {
    padding: 40px 0;
  }

  .blue-circle {
    right: 0;
    top: 0;
  }

  .about-mission__back-object {
    top: 284px;
    right: 0;
    left: auto;

    svg {
      right: -125px;
      left: auto;
    }
  }

  &__catalog {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    @include mMax {
      display: block;
    }

    &-row {
      width: calc(33.333% - 60px / 3);

      @include mMax {
        width: 100%;
      }

      & + & {
        margin-left: 30px;

        @include mMax {
          margin-left: 0;
          margin-top: 26px;
        }
      }
    }
  }

  &__item {
    width: 100%;

    & + & {
      margin-top: 50px;

      @include mMax {
        margin-top: 26px;
      }
    }

    &-heading {
      box-sizing: border-box;
      padding: 0 30px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
    }

    &-icon {
      height: 100px;
      width: 100px;
      overflow: hidden;
      border-radius: 50px;
      flex-shrink: 0;

      @include tMax {
        width: 50px;
        height: 50px;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-name {
      display: block;
      margin-left: 20px;
      font-weight: bold;
      font-size: 14px;
      line-height: 170%;
      text-transform: uppercase;
      color: #ffffff;
    }

    &-text {
      display: block;
      box-sizing: border-box;
      padding: 70px 29px 30px;
      margin-top: -50px;
      background: #101215;
      font-weight: normal;
      font-size: 16px;
      line-height: 170%;
      color: #9ca7b8;

      @include tMax {
        padding: 40px 20px 20px;
        margin-top: -26px;
        font-size: 14px;
      }
    }
  }
}

.testimonials-form-block {
  position: relative;
  box-sizing: border-box;
  padding-bottom: 200px;
  overflow: hidden;

  @include mMax {
    padding-bottom: 40px;
  }

  .about-mission__back-object {
    top: 42px;

    svg {
      left: -150px;
    }
  }

  .blue-circle {
    top: 133px;
    left: 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .form__title {
      margin-bottom: 40px;
    }

    @include tMax {
      align-items: center;
    }

    @include mMax {
      display: block;
    }

    .form__actions {
      box-sizing: border-box;
      width: calc(100% - 330px);
      padding-right: 60px;

      @include tMax {
        width: calc(100% - 200px);
        padding-right: 20px;
      }

      @include mMax {
        width: 100%;
        margin-right: 0;
        margin-bottom: 26px;
        padding-right: 0;

        .form__inputs {
          display: block;
          margin: 0 0 10px;

          input {
            width: 100%;
            margin: 0;

            & + input {
              margin-top: 10px;
            }
          }
        }
      }

      .form__submit {
        width: 170px;

        @include mMax {
          width: 100%;
        }
      }
    }
  }

  &__photography {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 365px;
    width: 330px;

    @include tMax {
      width: 200px;
      height: 200px;
    }

    @include mMax {
      width: 100%;
      height: auto;
      padding: 66px 0;
    }

    &-bg {
      left: 0;
      top: 0;
      position: absolute;
      z-index: 1;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include mMax {
        object-fit: contain;
      }
    }

    &-title,
    &-desc,
    &-persent {
      position: relative;
      z-index: 2;
    }

    &-title {
      display: block;
      margin-bottom: 5px;
      font-family: Sora;
      font-style: normal;
      font-weight: bold;
      font-size: 35px;
      line-height: 120%;
      text-align: center;
      text-transform: capitalize;
      color: #ffffff;

      @include tMax {
        font-size: 24px;
      }
    }

    &-desc {
      display: block;
      margin-bottom: 30px;
      font-weight: 300;
      font-size: 20px;
      line-height: 120%;
      text-align: center;
      color: #ffffff;

      @include tMax {
        font-size: 14px;
        margin-bottom: 20px;
      }
    }

    &-persent {
      display: block;
      font-family: Sora;
      font-style: normal;
      font-weight: 600;
      font-size: 45px;
      line-height: 120%;
      text-align: center;

      @include tMax {
        font-size: 30px;
      }
    }
  }
}
